# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd
*.pyc

# FastAPI/Backend
.env
*.sqlite3
instance/

# Jupyter Notebooks
.ipynb_checkpoints

# VSCode
.vscode/

# Node/React
node_modules/
build/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Others
*.log 